html {
  background-color:rgb(59, 89, 152);
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #333745;
}

.logo {
  margin-top: 10em;
  margin-bottom: 1em;
}
img {
  position: relative;
  left: 40;
}

form {
  width: 205px;
  margin: auto;
  background: #3e3e3e;
  border-radius: 1%;
  box-shadow: 0px 3px 8px #000;
}
input[type="text"] {
  width: 196px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 18px;
  color: #fff;
  background: none;
}
td {
  padding: 0px;
}
input {
  border: none;
  padding: 20px;
  width: 100%;
  cursor: pointer;
  color: grey;
  background: none;
}
input:hover {
  background: grey;
  color: #fff;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  margin-bottom: 0;
  text-align: center;
  margin-top: 6px;
}
.orange {
  color: orange;
  text-align: justify;
}
h1 {
  font-family: "Encode Sans Condensed", sans-serif;
  color: #fff;
  font-size: 29px;
  border-bottom: 3px solid #fff;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 29px;
  border-bottom: 3px solid #fff;
}
div {
  width: 200px;
  margin: auto;
}
